.appTopBarShow{
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-card);
  transition: left .2s;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .02), 0 0 2px rgba(0, 0, 0, .05), 0 1px 4px rgba(0, 0, 0, .08);
}
.button{
  width:40px;
  height:40px;
  background-color: red;
  border-radius: 20px;
}
/* 平板 */
@media screen and (max-width: 990px) {
  /* CSS规则 */
}

/* 小型笔记本电脑到大型笔记本电脑和桌面显示器 */
@media screen and (min-width: 991px){
  /* CSS规则 */
}