*{
    margin: 0;
    padding: 0;
}
body,html,#root{
    width: 100%;
    height: 100%;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;